<footer>
    <div class="footer-block row">

      <div class="col-footer vk col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <h5>Наша группа</h5>
        <!-- VK Widget -->
        <div id="vk-group"></div>
      </div>

      {% if informations %}
      <div class="col-footer info col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <h5>{{ text_information }}</h5>
        <ul class="list-unstyled">
         {% for information in informations %}
          <li><a href="{{ information.href }}">{{ information.title }}</a></li>
          {% endfor %}
        <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
        <li><a href="{{ contact }}">{{ text_contact }}</a></li>
        </ul>
      </div>
      {% endif %}

      <div class="col-footer contacts col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <h5>Контакты</h5>
        <ul class="list-unstyled">
          <li><span class="adress"><i class="fa fa-map-marker" aria-hidden="true"></i>г.Симферополь, ул.Карла Маркса, 40</span></li>
          <li><span class="tel"><i class="fa fa-phone" aria-hidden="true"></i>+7 978 764 74 40</span></li>
          <li><span class="email"><i class="fa fa-envelope-o" aria-hidden="true"></i>baionnette.shop@gmail.com</span></li>
        </ul>
        <div class="money-block">
            <img src="catalog/view/theme/fanes/image/icons_money/mir.png" alt="mir">
            <img src="catalog/view/theme/fanes/image/icons_money/mastercard.png" alt="card-mastercard">
            <img src="catalog/view/theme/fanes/image/icons_money/visa.png" alt="card-visa">
        </div>
      </div>

      <div class="col-footer working-time col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <h5>График работы:</h5>
            <ul class="list-unstyled">
               <li>пн 9:00 - 19:00</li>
               <li>вт 9:00 - 19:00</li>
               <li>ср 9:00 - 19:00</li>
               <li>чт 9:00 - 19:00</li>
               <li>пт 9:00 - 19:00</li>
               <li>сб 9:00 - 17:00</li>
               <li>вс 9:00 - 17:00</li>
            </ul>
      </div>
    </div>
</footer>
<div class="powered-block">
     <div class="powered">
         {{ powered }}
     </div>

</div>
</div>

<script src="catalog/view/theme/fanes/javascript/common.min.js" type="text/javascript"></script>
<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="catalog/view/theme/fanes/javascript/click.min.js" type="text/javascript"></script>


<script type="text/javascript">
VK.Widgets.Group("vk-group", {mode: 3, no_cover: 1, width: "250", height: "200", color1: '222', color2: 'EEE', color3: '689BF9'}, 50244899);
</script>

{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
</body></html>
