{{ header }}
<div class="content-block">
  <div id="common-home" class="content">
    {{column_left }}
    <div id="content" class="content-center">
      {{ content_top }}
    </div>
    {{ column_right }}
  </div>
  {{ content_bottom }}
</div>
{{ footer }}
